<div class="flex flex-col sm:flex-row items-center md:items-start sm:justify-center md:justify-start flex-auto min-w-0">
    <div
        class="bg-gray-100 md:flex md:items-center md:justify-center w-full sm:w-auto md:h-full md:w-full py-8 px-4 sm:p-12 md:p-16 sm:rounded-2xl md:rounded sm:shadow md:shadow-xl border sm:bg-card">
        <div class="w-full  sm:w-80 md:w-120 mx-auto sm:mx-0 rounded shadow border bg-card p-3">
            <!-- Logo -->
            <div class="w-full flex justify-center">
                <div class="w-40">
                    <img src="assets/images/logo/Spacegrid.png">
                </div>

            </div>


            <div class="w-full mt-6 flex justify-center px-6">


                <div class="w-1/2 flex flex-0 items-center justify-center">
                    <div class="flex flex-0 items-center justify-center w-8 h-8 rounded-full ring-2 ring-inset ring-transparent"
                        [ngClass]="{'ring-primary' : !singignUp , 'bg-primary dark:bg-primary text-on-primary group-hover:bg-primary-800' : singignUp}">

                        <mat-icon *ngIf="singignUp" class="icon-size-5 text-current"
                            [svgIcon]="'heroicons_solid:check'"></mat-icon>
                        <div class="text-md font-semibold text-primary dark:text-primary-500" *ngIf="!singignUp">
                            1
                        </div>
                    </div>
                    <div class="w-full h-0.5 border-t-4"
                        [ngClass]="{'border-primary' : singignUp , 'border-gray-400' : !singignUp }"></div>


                </div>

                <div class="w-1/2 flex flex-0 items-center justify-center">
                    <div class="flex flex-0 items-center justify-center w-8 h-8 rounded-full ring-2 ring-inset ring-transparent"
                        [ngClass]="{'ring-primary' : (!codeVerified &&  singignUp) , 'ring-gray-300' : (!codeVerified && !singignUp) , 'bg-primary dark:bg-primary text-on-primary group-hover:bg-primary-800' : codeVerified }">
                        <mat-icon *ngIf="codeVerified" class="icon-size-5 text-current"
                            [svgIcon]="'heroicons_solid:check'"></mat-icon>

                        <div class="text-md font-semibold text-primary dark:text-primary-500" *ngIf="!codeVerified">
                            2
                        </div>
                    </div>
                    <div class="w-full h-0.5 border-t-4  "
                        [ngClass]="{'border-primary' : codeVerified , 'border-gray-400' : !codeVerified }"></div>


                </div>


                <div class="flex flex-0 items-center justify-center">
                    <div class="flex flex-0 items-center justify-center w-8 h-8 rounded-full ring-2 ring-inset ring-transparent "
                        [ngClass]="{'ring-gray-300' : !codeVerified , 'ring-primary': codeVerified}">


                        <div class="text-md font-semibold text-primary dark:text-primary-500">
                            3
                        </div>
                    </div>



                </div>


            </div>

       


            <!-- Title -->
            <div class="mt-6 text-center text-primary text-4xl font-extrabold tracking-tight leading-tight">
                {{!singignUp ? "Sign Up" : "Topics"}}
            </div>
            <div class="flex justify-center mt-0.5 font-medium">
                <div *ngIf="singignUp">
                    Selact at least 3 topic
                </div>
                <div *ngIf="!singignUp">
                    Already have account ?
                    <a class="ml-1 text-primary-500 hover:underline" routerLink="/home?login=true">Login</a>
                </div>
                <!-- <a class="ml-1 text-primary-500 hover:underline" [routerLink]="['/pages/authentication/sign-in']">
                    Giriş yap
                </a> -->
            </div>

            <!-- Alert -->
            <fuse-alert class="mt-8 mb-4" *ngIf="showAlert" [appearance]="'outline'" [showIcon]="false"
                [type]="alert.type" [@shake]="alert.type === 'error'">
                {{alert.message}}

                
            </fuse-alert>

            <ng-container *ngIf="!singignUp">

                

                <div>

                    <form  [formGroup]="signInForm"
                    #signInNgForm="ngForm">
                    
                    <div class="flex justify-between w-full ">
                        
                        <mat-form-field class="w-1/2 mr-4">
                            <mat-label>Username</mat-label>
                            <input
                           
                                matInput
                                [formControlName]="'username'">
                            <mat-error *ngIf="signInForm.get('username').hasError('required')">
                                Username required
                            </mat-error>
                    
                        </mat-form-field>

                        <mat-form-field class="w-1/2">
                            <mat-label> E-Mail </mat-label>
                            <input
                                id="email"
                                matInput
                                [formControlName]="'email'">
                            <mat-error *ngIf="signInForm.get('email').hasError('required')">
                                Email required
                            </mat-error>
                            <mat-error *ngIf="signInForm.get('email').hasError('email')">
                             Please enter valid email address
                            </mat-error>
                        </mat-form-field>
        
        
                    </div>

                    <div class="flex justify-between w-full ">
                        
                        <mat-form-field class="w-1/2 mr-4">
                            <mat-label>Password</mat-label>
                            <input
                            id="password"
                            matInput
                            type="password"
                            [formControlName]="'password'"
                            #passwordField>
                        <button
                            mat-icon-button
                            type="button"
                            (click)="passwordField.type === 'password' ? passwordField.type = 'text' : passwordField.type = 'password'"
                            matSuffix>
                            <mat-icon
                                class="icon-size-5"
                                *ngIf="passwordField.type === 'password'"
                                [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                            <mat-icon
                                class="icon-size-5"
                                *ngIf="passwordField.type === 'text'"
                                [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
                        </button>
                        <mat-error>
                            Password required
                        </mat-error>
                    
                        </mat-form-field>

                        <mat-form-field class="w-1/2">
                            <mat-label> Şifre Tekrar </mat-label>
                            <input
                      
                            matInput
                            type="password"
                            [formControlName]="'rePassword'"
                            #repasswordField>
                        <button
                            mat-icon-button
                            type="button"
                            (click)="repasswordField.type === 'password' ? repasswordField.type = 'text' : repasswordField.type = 'password'"
                            matSuffix>
                            <mat-icon
                                class="icon-size-5"
                                *ngIf="repasswordField.type === 'password'"
                                [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                            <mat-icon
                                class="icon-size-5"
                                *ngIf="repasswordField.type === 'text'"
                                [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
                        </button>
                        <mat-error *ngIf="signInForm.get('rePassword').hasError('required')">
                            re password required
                        </mat-error>
                        <mat-error *ngIf="signInForm.get('rePassword').hasError('mustMatch')">
                            passwords must match
                        </mat-error>

                        </mat-form-field>
        
        
                    </div>
                
                    <div class="flex justify-between w-full ">
                        
                        <mat-form-field class="w-1/2 mr-4">
                            <mat-label>Name Surname</mat-label>
                            <input
                           
                                matInput
                                [formControlName]="'fullname'">
                            <mat-error *ngIf="signInForm.get('fullname').hasError('required')">
                               Fullname required
                            </mat-error>
                    
                        </mat-form-field>

                        <mat-form-field class="w-1/2">
                            <mat-label> Birth Date </mat-label>
                            <input matInput [matDatepicker]="picker"  [formControlName]="'birthDate'">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
        
        
                    </div>

                    
                    <div class="flex justify-between w-full ">
                        
                        <mat-form-field class="w-1/2 mr-4">
                            <mat-label>Job</mat-label>
                            <input
                           
                                matInput
                                [formControlName]="'job'">
                            <mat-error *ngIf="signInForm.get('job').hasError('required')">
                               Job required
                            </mat-error>
                    
                        </mat-form-field>

                        <mat-form-field class="w-1/2">
                            <mat-label> Education </mat-label>
                            <input
                           
                            matInput
                            [formControlName]="'education'">
                            <mat-error *ngIf="signInForm.get('education').hasError('required')">
                                Education required
                             </mat-error>
                      
                        </mat-form-field>
        
        
                    </div>

                    <div class="w-full flex justify-center">
                        <button mat-raised-button color="primary" [disabled]="signInForm.invalid" (click)="signUp()">Sign Up</button>
                    </div>
                
                </form>

                </div>


            </ng-container>


            <ng-container *ngIf="singignUp">


                <div class="my-3">

                
                    <mat-chip-list aria-label="Fish selection">
                        <ng-container *ngFor="let topic of topics">

                            <mat-chip color="primary" [ngClass]="{'mat-chip-selected' : isTopicSelected(topic)}" (click)="addOrDeleteTopic(topic)">{{topic.name}}</mat-chip>
                        </ng-container>
                      
                      </mat-chip-list>
                </div>


                <div class="flex w-full justify-center">
                    <button mat-raised-button color="primary" (click)="saveTopics()">Save</button>
                </div>
           

            </ng-container>



            <!-- Sign Up form -->

        </div>
    </div>
</div>